# Backend
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/logs/*.log
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/public/storage

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# General
.DS_Store
Thumbs.db